/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

h1 {
font-family: "PT Sans Caption", sans-serif;
}
h2 {
font-family: "PT Sans Caption", sans-serif;
}
p {
font-family: "PT Sans", sans-serif;
}
a {
color: gray;
}
h1{
font-size: 40px;
font-weight: 900;
margin: -14px auto 14px 0px;
padding-bottom: 5px;
}
h2{
font-size: 32px;
font-weight: bold;
color: black;
opacity: 0.8;
margin: -14px auto 10.5px 0px;
padding-bottom: 0px;
padding-top: 37px;
}
h3{
font-family: "PT Sans Caption", sans-serif;
font-size: 25px;
font-weight: bold;
color: black;
opacity: 0.8;
margin: 34px auto 14px 0px;
}
p:first-of-type{
font-size: 22.8px;
font-family: 'PT Sans', sans-serif;
font-weight: normal;
padding-right:10px;
padding-top: 0px;
padding-bottom: 6px;
font-stretch: ultra-expanded;
line-height: 32px;
letter-spacing: 0.03;
word-spacing: 2.7px;
color: gray;
margin: -14.5px auto 23px;
width: 700px;
text-align: left;
}
p{
font-size: 22.8px;
font-weight: normal;
padding-bottom: 22px;
padding-top: 0px;
font-stretch: ultra-condensed;
line-height: 34px;
letter-spacing: 0.03;
word-spacing: 2.7px;
color: black;
width: 730px;
text-align: left;
margin: 10px 10px auto auto;
}
ul {font-size: 19px;
font-family: 'PT Sans', sans-serif;
font-weight: normal;
padding-right:1px;
padding-top: 5.1px;
padding-bottom: 18px;
line-height: 30px;
letter-spacing: 0.0002;
word-spacing: 2.7px;
color: gray;
margin: 10px 10px auto 25px;
list-style: disc;
}
img {
display: block;
width: 1020px;
margin: 90px auto 90px;
}
h1, h2, h3, p, ul {
	width: 700px;
	margin: 0 auto;
}
